@import url(../fonts/stylesheet.css);
@import url(../fonts/imoon/style.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Segoe UI", sans-serif;
  position: relative;
  background-color: #f9fafb;
  min-height: 100vh;
  margin: 0; }

.container {
  max-width: 114rem;
  margin: 0 auto;
  position: relative; }

p {
  margin: 0; }

ol,
ul {
  padding: 0; }

a {
  text-decoration: none; }

.container,
.container-fluid {
  padding: 0; }

h2 {
  font-size: 3rem; }

button {
  cursor: pointer; }

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }

.form {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.3);
  width: 40rem;
  padding: 3rem 4rem; }
  .form h2 {
    text-align: center;
    margin: 0 0 2rem; }
  .form-control {
    padding-bottom: 2.6rem;
    position: relative; }
    .form-control label {
      color: #777;
      display: block;
      margin-bottom: .5rem;
      font-size: 1.6rem; }
    .form-control input {
      border: 0.2rem solid #f0f0f0;
      border-radius: .4rem;
      display: block;
      width: 100%;
      padding: 1rem;
      font-size: 1.4rem; }
      .form-control input:focus {
        outline: none;
        border-color: #777; }
    .form-control span {
      color: #fff;
      background: #e74c3c;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + 1.5rem);
      width: 100%;
      padding: 1rem;
      border-radius: .2rem;
      font-size: 1.4rem;
      visibility: hidden; }
      .form-control span:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-right: 1rem solid #e74c3c;
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%); }
    .form-control.success input {
      border-color: #2ecc71; }
    .form-control.error input {
      border-color: #e74c3c; }
    .form-control.error span {
      visibility: visible; }
  .form button {
    background-color: #3498db;
    border: 0.2rem solid #3498db;
    border-radius: .4rem;
    color: #fff;
    display: block;
    font-size: 1.6rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%; }
